/Tubes2WBD/nbproject/private/
/Tubes2WBD/build/
/JavaMarket/nbproject/private/
/JavaMarket/build/
/StackExhangeClient/nbproject/private/
/StackExhangeClient/build/
/StackExchangeWS/nbproject/private/
/IdentityServices/nbproject/private/
/IdentityServices/build/
/IdentityServices/nbproject/project.properties
/IdentityServices/src/java/loginPackage/DB.java
/MarketplaceWS/nbproject/private/
/MarketplaceWS/build/
/StackExchangeClient/dist/
/MarketplaceWS/dist/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/